* {
    box-sizing: border-box;
    font-family: sent-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.menu_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.nav li a{
    text-transform: uppercase;
    color: #999;
    text-decoration: none;
    padding: 10px 20px;

}

.nav li {
   padding-left: 25px;
}

.menu {
   
}

.nav li a:hover {
    background-color: orange;
    color: wheat;
    border-radius: 5px;
}