.first {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}

.second {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
}

.third {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
}