/*Выставляем курсор при наведении на кнопку*/
button{
    cursor: pointer;
}

/*Псевдокласыы:*/
/*Когда на ссылку а будет наведение, подчеркивание уберется!*/
a:hover {
    text-decoration: none;
    /*теперь при наведении на элемент он будет становиться красным*/
    color: orange;
}

/*Для третьего дочернего элемента li внутри ul мы применяем какой - то код*/

ul li:nth-child(3) {
    color: orange;
}

/*Для первого элемента*/
ul li:first-child {
    color: burlywood;
}

/*Сделать определенный стиль для всех нечетнвх элементов*/
ul li:nth-child(odd) {
    color: bisque;
}

/*Сделать определенный стиль для всех четнвх элементов*/
ul li:nth-child(even) {
    color: deeppink;
}

/*ПСЕВДОЭЛЕМЕНТЫ:*/
/*Перед div появится new*/
div:before{
    content: "new ";
}
div:after{
    content: " old";
}